In [4]:
import sqlite3
import pandas as pd

In [5]:
dataset = pd.read_excel("data/salary_data_states.xlsx")
dataset

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",6217100.00,year,62171.00,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",Illinois,IL,NaN,y,H-1B,NaN,62171.0,software engineer,1
1,A-15061-55212,denied,3/19/2015,3/19/2015,SAN FRANCISCO STATE UNIVERSITY,5067600.00,year,91440.00,year,Assistant Professor of Marketing,...,"Business Teachers, Postsecondary",California,CA,94132.0,NaN,greencard,NaN,91440.0,assistant professor,2
2,I-200-13256-001092,denied,9/13/2013,9/23/2013,CAROUSEL SCHOOL,4947000.00,year,49470.00,year,SPECIAL EDUCATION TEACHER,...,"Special Education Teachers, Kindergarten and E...",California,CA,NaN,y,H-1B,NaN,49470.0,teacher,3
3,I-200-14087-353657,denied,3/28/2014,4/7/2014,HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...,251052.00,month,43800.00,year,SCIENCE TEACHER,...,"Biological Science Teachers, Postsecondary",Texas,TX,NaN,y,H-1B,NaN,43800.0,teacher,4
4,I-203-14259-128844,denied,9/16/2014,9/23/2014,SIGNAL SCIENCES CORPORATION,84573.00,bi-weekly,170000.00,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Systems Software",Oregon,OR,NaN,y,E-3 Australian,NaN,170000.0,software engineer,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167273,I-200-12241-209885,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.60,hour,MIDDLE SCHOOL TEACHERS,...,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,11648.0,teacher,167357
167274,I-200-11305-143547,denied,11/1/2011,11/3/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.25,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10920.0,teacher,167358
167275,I-200-11313-833007,certified,11/9/2011,11/16/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.25,hour,TEACHER,...,"Teachers and Instructors, All Other*",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10920.0,teacher,167359
167276,I-200-11312-798611,denied,11/8/2011,11/15/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.10,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10608.0,teacher,167360
167277,I-200-11297-523711,denied,10/24/2011,10/26/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.05,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10504.0,teacher,167361

In [13]:
print(dataset['JOB_TITLE_SUBGROUP'].unique())

['software engineer' 'business analyst' 'management consultant'
 'data analyst' 'data scientist']

In [6]:
#remove unimportant job sub types

remove = ['attorney','teacher','assistant professor']

dataset = dataset[~dataset['JOB_TITLE_SUBGROUP'].isin(remove)]

dataset.head()

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",6217100.0,year,62171.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",Illinois,IL,NaN,y,H-1B,NaN,62171.0,software engineer,1
4,I-203-14259-128844,denied,9/16/2014,9/23/2014,SIGNAL SCIENCES CORPORATION,84573.0,bi-weekly,170000.0,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Systems Software",Oregon,OR,NaN,y,E-3 Australian,NaN,170000.0,software engineer,5
5,I-200-14092-483272,denied,4/2/2014,4/9/2014,CAPGEMINI U.S. LLC,113610.0,month,114421.0,year,ORACLE SCM ANALYST/BUSINESS ANALYST,...,Computer Systems Analysts,California,CA,NaN,y,H-1B,NaN,114421.0,business analyst,6
6,I-200-13084-487292,denied,3/25/2013,3/28/2013,"PURE STORAGE, INC.",1333328.0,year,145000.0,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Applications",California,CA,NaN,y,H-1B,NaN,145000.0,software engineer,7
7,I-200-13126-805026,denied,5/6/2013,5/8/2013,"POLMAK, INC.",104458.0,month,104458.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",New Jersey,NJ,NaN,y,H-1B,NaN,104458.0,software engineer,8

In [16]:
print(dataset['WORK_STATE'].unique())

['Illinois' 'Oregon' 'California' 'New Jersey' 'New York' 'Connecticut'
 'Washington' 'Maryland' 'North Carolina' 'District of Columbia'
 'South Carolina' 'Texas' 'Rhode Island' 'Colorado' 'Michigan' 'Missouri'
 'Minnesota' 'Pennsylvania' 'Kentucky' 'Florida' 'Arizona' 'Virginia'
 'Georgia' 'Alabama' 'New Hampshire' 'Massachusetts' 'Ohio' 'Nevada'
 'West Virginia' 'Delaware' 'Utah' 'New Mexico' 'Indiana' 'Hawaii'
 'Louisiana' 'Vermont' 'Wisconsin' 'Kansas' 'Iowa' 'Tennessee' 'Oklahoma'
 'Arkansas' 'Nebraska' 'Maine' 'North Dakota' 'Idaho' 'South Dakota'
 'Montana' 'Alaska' 'Mississippi' 'Wyoming']

In [11]:
#we dont care for guam, palau, northern mariana islands,Puerto Rico, virgin islands
remove_states = ['Guam', 'Palau', 'Northern Mariana Islands', 'Puerto Rico', 'Virgin Islands']

# Remove observations with specified work states
dataset = dataset[~dataset['WORK_STATE'].isin(remove_states)]

# Print the updated dataframe
dataset.head

<bound method NDFrame.head of                CASE_NUMBER CASE_STATUS CASE_RECEIVED_DATE DECISION_DATE  \
0       I-200-14073-248840      denied          3/14/2014     3/21/2014
4       I-203-14259-128844      denied          9/16/2014     9/23/2014
5       I-200-14092-483272      denied           4/2/2014      4/9/2014
6       I-200-13084-487292      denied          3/25/2013     3/28/2013
7       I-200-13126-805026      denied           5/6/2013      5/8/2013
...                    ...         ...                ...           ...
167015  I-200-14071-160257   certified          3/12/2014     3/18/2014
167052  I-200-12299-110555   certified         10/25/2012    10/31/2012
167053  I-200-13030-926271   certified          1/30/2013      2/5/2013
167115  I-200-14209-436478   certified          7/31/2014      8/6/2014
167233  I-203-13177-004887      denied           7/9/2013     7/11/2013

                                 EMPLOYER_NAME  PREVAILING_WAGE_SUBMITTED  \
0          ADVANCED TECHNOLOGY GROUP USA, INC.                 6217100.00
4                  SIGNAL SCIENCES CORPORATION                   84573.00
5                           CAPGEMINI U.S. LLC                  113610.00
6                           PURE STORAGE, INC.                 1333328.00
7                                 POLMAK, INC.                  104458.00
...                                        ...                        ...
167015         L&T TECHNOLOGY SERVICES LIMITED                   19677.00
167052               BC TRADING WORLDWIDE INC.                       9.22
167053               BC TRADING WORLDWIDE INC.                       9.22
167115                        MISTERART COM LP                   18658.00
167233  VUBIQUITY INTERNATIONAL HOLDINGS, INC.                       8.00

       PREVAILING_WAGE_SUBMITTED_UNIT  PAID_WAGE_SUBMITTED  \
0                                year             62171.00
4                           bi-weekly            170000.00
5                               month            114421.00
6                                year            145000.00
7                               month            104458.00
...                               ...                  ...
167015                           year             49800.00
167052                           hour                17.31
167053                           hour                17.31
167115                           year             38000.00
167233                           hour             56638.40

       PAID_WAGE_SUBMITTED_UNIT                            JOB_TITLE  ...  \
0                          year                    SOFTWARE ENGINEER  ...
4                          year             SENIOR SOFTWARE ENGINEER  ...
5                          year  ORACLE SCM ANALYST/BUSINESS ANALYST  ...
6                          year             SENIOR SOFTWARE ENGINEER  ...
7                          year                    SOFTWARE ENGINEER  ...
...                         ...                                  ...  ...
167015                     year           SOFTWARE ENGINEER & TESTER  ...
167052                     hour                     BUSINESS ANALYST  ...
167053                     hour                     BUSINESS ANALYST  ...
167115                     year                         DATA ANALYST  ...
167233                     year          ENTERPRISE BUSINESS ANALYST  ...

                         PREVAILING_WAGE_SOC_TITLE  WORK_STATE  \
0                Software Developers, Applications    Illinois
4            Software Developers, Systems Software      Oregon
5                        Computer Systems Analysts  California
6                Software Developers, Applications  California
7                Software Developers, Applications  New Jersey
...                                            ...         ...
167015             Computer Occupations, All Other     Florida
167052                         Management Analysts     Florida
167053                         Management Analysts     Florida
167115                          Survey Researchers       Texas
167233  Media and Communication Workers, All Other  California

       WORK_STATE_ABBREVIATION WORK_POSTAL_CODE  FULL_TIME_POSITION_Y_N  \
0                           IL              NaN                       y
4                           OR              NaN                       y
5                           CA              NaN                       y
6                           CA              NaN                       y
7                           NJ              NaN                       y
...                        ...              ...                     ...
167015                      FL              NaN                       y
167052                      FL              NaN                       n
167053                      FL              NaN                       n
167115                      TX              NaN                       y
167233                      CA              NaN                       y

            VISA_CLASS PREVAILING_WAGE_PER_YEAR PAID_WAGE_PER_YEAR  \
0                 H-1B                      NaN            62171.0
4       E-3 Australian                      NaN           170000.0
5                 H-1B                      NaN           114421.0
6                 H-1B                      NaN           145000.0
7                 H-1B                      NaN           104458.0
...                ...                      ...                ...
167015            H-1B                  19677.0            49800.0
167052            H-1B                  19177.6            36004.8
167053            H-1B                  19177.6            36004.8
167115            H-1B                  18658.0            38000.0
167233  E-3 Australian                  16640.0            56638.4

       JOB_TITLE_SUBGROUP   order
0       software engineer       1
4       software engineer       5
5        business analyst       6
6       software engineer       7
7       software engineer       8
...                   ...     ...
167015  software engineer  167099
167052   business analyst  167136
167053   business analyst  167137
167115       data analyst  167199
167233   business analyst  167317

[132982 rows x 27 columns]>

In [12]:
#Cleaning Data
print(dataset.isnull().sum())

CASE_NUMBER                            0
CASE_STATUS                            0
CASE_RECEIVED_DATE                     0
DECISION_DATE                          0
EMPLOYER_NAME                          0
PREVAILING_WAGE_SUBMITTED              0
PREVAILING_WAGE_SUBMITTED_UNIT         0
PAID_WAGE_SUBMITTED                    0
PAID_WAGE_SUBMITTED_UNIT               0
JOB_TITLE                              0
WORK_CITY                              3
EDUCATION_LEVEL_REQUIRED          124077
COLLEGE_MAJOR_REQUIRED            124106
EXPERIENCE_REQUIRED_Y_N           124077
EXPERIENCE_REQUIRED_NUM_MONTHS    128299
COUNTRY_OF_CITIZENSHIP            124077
PREVAILING_WAGE_SOC_CODE               0
PREVAILING_WAGE_SOC_TITLE              0
WORK_STATE                             0
WORK_STATE_ABBREVIATION                0
WORK_POSTAL_CODE                   86729
FULL_TIME_POSITION_Y_N              8905
VISA_CLASS                             0
PREVAILING_WAGE_PER_YEAR              40
PAID_WAGE_PER_YEAR                     0
JOB_TITLE_SUBGROUP                     0
order                                  0
dtype: int64

In [14]:
#Group by Job SubType of average wage
# Group data by job type and calculate mean salary for each group
mean_salary_by_job_type = dataset.groupby('JOB_TITLE_SUBGROUP')['PAID_WAGE_PER_YEAR'].median()


sorted_job_types = mean_salary_by_job_type.sort_values(ascending=False)

print(sorted_job_types)

JOB_TITLE_SUBGROUP
data scientist           110000.0
management consultant    100000.0
software engineer         88275.2
business analyst          65000.0
data analyst              65000.0
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [15]:
#Which companies have the highest salaries for those sub types
# Group data by job type and find the company that pays the highest salary for each group
highest_salary_by_job_type = dataset.groupby('JOB_TITLE_SUBGROUP').apply(lambda x: x.loc[x['PAID_WAGE_PER_YEAR'].idxmax()])

print(highest_salary_by_job_type[['EMPLOYER_NAME', 'PAID_WAGE_PER_YEAR']])

                                                       EMPLOYER_NAME  \
JOB_TITLE_SUBGROUP
business analyst       THE UNIVERSITY OF TEXAS SYSTEM ADMINISTRATION
data analyst                                                  INTUIT
data scientist                                         NETFLIX, INC.
management consultant                     CO-CREATION PARTNERS, INC.
software engineer                                 KPI PARTNERS, INC.

                       PAID_WAGE_PER_YEAR
JOB_TITLE_SUBGROUP
business analyst                1250784.0
data analyst                     746323.0
data scientist                   230000.0
management consultant            582400.0
software engineer               1400000.0

WORK_STATE    JOB_TITLE_SUBGROUP
Guam          business analyst          40674.300000
Vermont       data analyst              42000.000000
Puerto Rico   data analyst              45000.000000
North Dakota  data analyst              47714.666667
Idaho         data analyst              48699.750000
                                           ...
California    data scientist           117824.161492
Connecticut   management consultant    119272.872727
Georgia       management consultant    120095.617391
Pennsylvania  management consultant    122132.438710
Oklahoma      management consultant    141847.500000
Name: PAID_WAGE_PER_YEAR, Length: 225, dtype: float64

In [11]:
#Changes with location of the job?
mean_salary_by_job_type_location = dataset.groupby('WORK_STATE')['PAID_WAGE_PER_YEAR'].median()


sorted_locations = mean_salary_by_job_type_location.sort_values(ascending=False)


print(sorted_locations)

WORK_STATE
California              105000.0
Washington              102000.0
Virgin Islands           99788.0
Massachusetts            85000.0
New York                 85000.0
Oregon                   82846.0
Vermont                  80250.0
Utah                     79726.0
Nevada                   79563.0
Maryland                 77000.0
Colorado                 76960.0
Pennsylvania             75000.0
District of Columbia     75000.0
New Hampshire            73760.4
Connecticut              73673.6
Arizona                  73403.0
North Carolina           72600.0
Minnesota                72125.0
Louisiana                72000.0
Virginia                 71614.0
Illinois                 71395.0
New Jersey               71000.0
Hawaii                   70838.0
Maine                    70000.0
Rhode Island             70000.0
Wisconsin                70000.0
Texas                    70000.0
Tennessee                69680.0
Georgia                  68662.0
Mississippi              68500.0
Iowa                     68500.0
New Mexico               68200.0
Nebraska                 68037.0
Missouri                 68000.0
Kansas                   68000.0
Michigan                 67267.0
Alaska                   67022.0
Ohio                     67000.0
Idaho                    66500.0
Kentucky                 65800.0
Delaware                 65000.0
Florida                  65000.0
South Carolina           65000.0
North Dakota             65000.0
Indiana                  64000.0
Alabama                  63731.0
South Dakota             63419.0
Arkansas                 63001.5
Oklahoma                 60840.0
Montana                  60000.0
Palau                    60000.0
Wyoming                  58205.0
West Virginia            55000.0
Puerto Rico              53000.0
Guam                     44699.0
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [12]:
sorted_locations.head(10)

WORK_STATE
California        105000.0
Washington        102000.0
Virgin Islands     99788.0
Massachusetts      85000.0
New York           85000.0
Oregon             82846.0
Vermont            80250.0
Utah               79726.0
Nevada             79563.0
Maryland           77000.0
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [16]:
#salary by jobsubgroup by state
salary_by_subtype_by_state = dataset.groupby(['WORK_STATE', 'JOB_TITLE_SUBGROUP'])['PAID_WAGE_PER_YEAR'].mean()
salary_by_subtype_by_state

WORK_STATE  JOB_TITLE_SUBGROUP
Alabama     business analyst         57515.321429
            data analyst             69803.333333
            management consultant    99008.000000
            software engineer        83930.774836
Alaska      business analyst         64563.017778
                                         ...
Wisconsin   data scientist           85000.000000
            management consultant    98550.000000
            software engineer        74446.499677
Wyoming     business analyst         76880.000000
            software engineer        56068.333333
Name: PAID_WAGE_PER_YEAR, Length: 225, dtype: float64

In [17]:
#sorted by all salaries
salary_by_subtype_by_state.sort_values(ascending=True)

WORK_STATE    JOB_TITLE_SUBGROUP
Guam          business analyst          40674.300000
Vermont       data analyst              42000.000000
Puerto Rico   data analyst              45000.000000
North Dakota  data analyst              47714.666667
Idaho         data analyst              48699.750000
                                           ...
California    data scientist           117824.161492
Connecticut   management consultant    119272.872727
Georgia       management consultant    120095.617391
Pennsylvania  management consultant    122132.438710
Oklahoma      management consultant    141847.500000
Name: PAID_WAGE_PER_YEAR, Length: 225, dtype: float64

In [18]:
#Will the Answer Change if we take standard of living into account?
col_df = pd.read_csv('data/CostOfLiving2023.csv')
col_df

,fips,state,densityMi,pop2023,pop2022,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,costIndex,groceryCost,housingCost,utilitiesCost,transportationCost,miscCost
0,28,Mississippi,63.07084,2959473,2960075,2961279,2961879,2967297,-0.00020,-602,-0.00264,83.3,92.2,66.3,90.4,86.7,91.4
1,20,Kansas,36.24443,2963308,2954832,2937880,2929402,2853118,0.00287,8476,0.03862,86.5,91.7,72.6,100.2,97.3,90.3
2,1,Alabama,100.65438,5097641,5073187,5024279,4999822,4779736,0.00482,24454,0.06651,87.9,98.2,70.1,100.7,92.7,94.1
3,40,Oklahoma,58.63041,4021753,4000953,3959353,3938551,3751351,0.00520,20800,0.07208,87.9,94.5,74.7,95.1,94.8,93.5
4,13,Georgia,191.59470,11019186,10916760,10711908,10609487,9687653,0.00938,102426,0.13745,88.8,95.9,74.4,90.5,92.6,96.6
5,47,Tennessee,171.70515,7080262,7023788,6910840,6854371,6346105,0.00804,56474,0.11569,89.0,94.7,79.3,92.5,88.8,92.9
6,29,Missouri,90.26083,6204710,6188111,6154913,6138318,5988927,0.00268,16599,0.03603,89.8,95.0,80.3,95.4,92.4,95.8
7,19,Iowa,57.89018,3233572,3219171,3190369,3175964,3046355,0.00447,14401,0.06146,89.9,98.4,76.0,94.9,97.7,93.7
8,54,West Virginia,73.88019,1775932,1781860,1793716,1799642,1852994,-0.00333,-5928,-0.04159,90.5,96.5,78.6,89.4,92.2,102.9
9,18,Indiana,191.92896,6876047,6845874,6785528,6755359,6483802,0.00441,30173,0.06050,90.6,92.7,78.3,99.0,98.3,95.2
10,5,Arkansas,58.42619,3040207,3030646,3011524,3001967,2915918,0.00315,9561,0.04262,90.9,93.1,79.1,92.3,92.3,97.4
11,35,New Mexico,17.60148,2135024,2129190,2117522,2111685,2059179,0.00274,5834,0.03683,91.0,95.5,84.3,89.6,98.1,91.9
12,26,Michigan,179.26454,10135438,10116069,10077331,10057961,9883640,0.00191,19369,0.02548,91.3,90.1,80.7,99.7,103.2,96.4
13,39,Ohio,290.70091,11878330,11852036,11799448,11773150,11536504,0.00222,26294,0.02963,91.3,99.2,76.5,92.0,98.6,98.7
14,48,Texas,116.16298,30345487,29945493,29145505,28745507,25145561,0.01336,399994,0.20679,92.1,90.8,83.8,103.2,94.1,97.0
15,22,Louisiana,108.67214,4695071,4682633,4657757,4645314,4533372,0.00266,12438,0.03567,93.0,96.8,86.0,87.0,96.5,98.4
16,21,Kentucky,115.37702,4555777,4539130,4505836,4489190,4339367,0.00367,16647,0.04987,93.1,92.1,79.9,104.7,103.0,103.7
17,45,South Carolina,175.18855,5266343,5217037,5118425,5069118,4625364,0.00945,49306,0.13858,93.6,99.5,79.6,105.2,95.2,99.4
18,31,Nebraska,26.06024,2002052,1988536,1961504,1947985,1826341,0.00680,13516,0.09621,93.7,98.6,86.6,89.3,100.2,96.8
19,17,Illinois,230.67908,12807072,12808884,12812508,12814324,12830632,-0.00014,-1812,-0.00184,94.3,98.4,86.6,96.5,105.8,96.7
20,56,Wyoming,5.98207,580817,579495,576851,575524,563626,0.00228,1322,0.03050,94.3,102.7,81.3,85.2,99.9,105.5
21,37,North Carolina,220.30026,10710558,10620168,10439388,10348993,9535483,0.00851,90390,0.12323,95.7,97.6,88.6,97.7,92.8,99.2
22,55,Wisconsin,109.96966,5955737,5935064,5893718,5873043,5686986,0.00348,20673,0.04726,96.4,99.5,88.4,99.4,99.5,98.9
23,38,North Dakota,11.75409,811044,800394,779094,768441,672591,0.01331,10650,0.20585,98.2,101.0,95.4,95.2,104.2,96.3
24,49,Utah,41.66892,3423935,3373162,3271616,3220842,2763885,0.01505,50773,0.23881,99.0,97.3,98.4,90.9,109.9,99.5
25,27,Minnesota,73.18202,5827265,5787008,5706494,5666238,5303925,0.00696,40257,0.09867,100.0,103.9,90.2,96.5,99.4,108.8
26,12,Florida,416.95573,22359251,22085563,21538187,21264502,18801310,0.01239,273688,0.18924,100.3,105.6,99.0,105.3,98.8,98.4
27,30,Montana,7.64479,1112668,1103187,1084225,1074744,989415,0.00859,9481,0.12457,100.7,103.4,106.3,88.0,94.7,98.6
28,46,South Dakota,11.98261,908414,901165,886667,879421,814180,0.00804,7249,0.11574,101.0,102.1,112.8,91.8,89.7,91.1
29,51,Virginia,223.36045,8820504,8757467,8631393,8568357,8001024,0.00720,63037,0.10242,101.8,95.2,111.5,96.7,90.4,100.2
30,16,Idaho,23.23926,1920562,1893410,1839106,1811950,1567582,0.01434,27152,0.22517,102.1,93.8,110.4,82.3,111.7,100.9
31,42,Pennsylvania,292.62222,13092796,13062764,13002700,12972667,12702379,0.00230,30032,0.03074,102.5,107.8,98.0,109.7,105.6,102.9
32,4,Arizona,64.96246,7379346,7303398,7151502,7075549,6392017,0.01040,75948,0.15446,103.2,101.5,107.7,104.8,98.8,99.7
33,8,Colorado,57.86332,5997070,5922618,5773714,5699264,5029196,0.01257,74452,0.19245,105.3,98.1,116.4,88.4,105.6,107.4
34,32,Nevada,29.38425,3225832,3185426,3104614,3064205,2700551,0.01268,40406,0.19451,106.3,107.0,117.9,88.4,119.7,99.3
35,10,Delaware,522.08876,1017551,1008350,989948,980743,897934,0.00912,9201,0.13321,107.9,114.0,103.1,96.5,113.0,113.7
36,33,New Hampshire,155.90830,1395847,1389741,1377529,1371424,1316470,0.00439,6106,0.06030,109.9,103.6,108.1,113.6,97.2,110.8
37,53,Washington,120.37292,7999503,7901429,7705281,7607206,6724540,0.01241,98074,0.18960,111.6,108.4,119.0,90.8,117.4,110.4
38,23,Maine,44.50148,1372559,1369159,1362359,1358961,1328361,0.00248,3400,0.03327,115.0,102.2,136.6,102.3,104.6,108.4
39,34,New Jersey,1283.40005,9438124,9388414,9288994,9239284,8791894,0.00529,49710,0.07350,115.2,107.3,136.6,104.6,105.5,106.6
40,50,Vermont,70.33514,648279,646545,643077,641347,625741,0.00268,1734,0.03602,117.0,109.2,136.2,119.0,114.2,104.1
41,44,Rhode Island,1074.29594,1110822,1106341,1097379,1092896,1052567,0.00405,4481,0.05535,117.2,107.7,121.7,127.6,107.6,118.7
42,9,Connecticut,746.69537,3615499,3612314,3605944,3602762,3574097,0.00088,3185,0.01158,121.6,106.4,134.6,132.4,111.1,114.1
43,24,Maryland,648.84362,6298325,6257958,6177224,6136855,5773552,0.00645,40367,0.09089,124.0,110.4,165.9,105.1,107.6,108.0
44,2,Alaska,1.29738,740339,738023,733391,731075,710231,0.00314,2316,0.04239,127.1,134.5,126.9,154.8,109.9,113.7
45,41,Oregon,45.41307,4359110,4318492,4237256,4196636,3831074,0.00941,40618,0.13783,130.1,107.8,172.6,90.2,125.9,118.5
46,25,Massachusetts,919.82103,7174604,7126375,7029917,6981690,6547629,0.00677,48229,0.09576,135.0,119.3,177.6,111.1,111.3,116.1
47,6,California,258.20877,40223504,39995077,39538223,39309799,37253956,0.00571,228427,0.07971,142.2,113.7,201.9,124.3,131.7,111.3
48,36,New York,433.90472,20448194,20365879,20201249,20118937,19378102,0.00404,82315,0.05522,148.2,118.4,230.1,99.8,108.7,114.8
49,15,Hawaii,231.00763,1483762,1474265,1455271,1445774,1360301,0.00644,9497,0.09076,193.3,152.9,315.0,164.2,133.7,126.7

In [19]:
#Cost of Living Index per State
cost_of_living = col_df[['state','costIndex']]
cost_of_living

             state  costIndex
0      Mississippi       83.3
1           Kansas       86.5
2          Alabama       87.9
3         Oklahoma       87.9
4          Georgia       88.8
5        Tennessee       89.0
6         Missouri       89.8
7             Iowa       89.9
8    West Virginia       90.5
9          Indiana       90.6
10        Arkansas       90.9
11      New Mexico       91.0
12        Michigan       91.3
13            Ohio       91.3
14           Texas       92.1
15       Louisiana       93.0
16        Kentucky       93.1
17  South Carolina       93.6
18        Nebraska       93.7
19        Illinois       94.3
20         Wyoming       94.3
21  North Carolina       95.7
22       Wisconsin       96.4
23    North Dakota       98.2
24            Utah       99.0
25       Minnesota      100.0
26         Florida      100.3
27         Montana      100.7
28    South Dakota      101.0
29        Virginia      101.8
30           Idaho      102.1
31    Pennsylvania      102.5
32         Arizona      103.2
33        Colorado      105.3
34          Nevada      106.3
35        Delaware      107.9
36   New Hampshire      109.9
37      Washington      111.6
38           Maine      115.0
39      New Jersey      115.2
40         Vermont      117.0
41    Rhode Island      117.2
42     Connecticut      121.6
43        Maryland      124.0
44          Alaska      127.1
45          Oregon      130.1
46   Massachusetts      135.0
47      California      142.2
48        New York      148.2
49          Hawaii      193.3

In [20]:
# Merge the two datasets based on state
merged_data = pd.merge(dataset, cost_of_living, left_on='WORK_STATE', right_on='state')
merged_data

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order,state,costIndex
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",6217100.00,year,62171.00,year,SOFTWARE ENGINEER,...,IL,NaN,y,H-1B,NaN,62171.0,software engineer,1,Illinois,94.3
1,I-200-14036-956911,denied,2/5/2014,2/10/2014,"INDSOFT, INC.",763573.00,year,76357.00,year,SOFTWARE ENGINEER,...,IL,NaN,y,H-1B,NaN,76357.0,software engineer,31,Illinois,94.3
2,I-200-14188-585239,certified,7/7/2014,7/11/2014,"MCKINSEY & COMPANY, INC. UNITED STATES",63.43,hour,120.88,hour,ASSOCIATE PRINCIPAL (MANAGEMENT CONSULTANT),...,IL,NaN,y,H-1B,131934.4,251430.4,management consultant,3981,Illinois,94.3
3,I-200-15029-111504,certified,1/30/2015,2/5/2015,"MCKINSEY & COMPANY, INC. UNITED STATES",63.43,hour,118.61,hour,ASSOCIATE PRINCIPAL (MANAGEMENT CONSULTANT),...,IL,60601,y,H-1B,131934.4,246708.8,management consultant,3982,Illinois,94.3
4,I-200-14182-818919,certified,7/1/2014,7/8/2014,"MCKINSEY & COMPANY, INC. UNITED STATES",63.43,hour,113.74,hour,ASSOCIATE PRINCIPAL (MANAGEMENT CONSULTANT),...,IL,NaN,y,H-1B,131934.4,236579.2,management consultant,3983,Illinois,94.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132181,I-200-15070-482844,certified,3/11/2015,3/18/2015,MMG MANAGEMENT CONSULTING,52416.00,year,80000.00,year,BUSINESS ANALYST,...,WY,83001,y,H-1B,52416.0,80000.0,business analyst,135731,Wyoming,94.3
132182,I-200-15082-035249,certified,3/23/2015,3/27/2015,MMG MANAGEMENT CONSULTING,52416.00,year,80000.00,year,BUSINESS ANALYST,...,WY,83001,y,H-1B,52416.0,80000.0,business analyst,135732,Wyoming,94.3
132183,I-200-13084-798941,withdrawn,3/25/2013,3/25/2013,MMG MANAGEMENT CONSULTING,46446.00,year,82000.00,year,BUSINESS ANALYST,...,WY,NaN,y,H-1B,46446.0,82000.0,business analyst,146351,Wyoming,94.3
132184,I-200-13084-857082,certified,3/25/2013,3/29/2013,MMG MANAGEMENT CONSULTING,46446.00,year,82000.00,year,BUSINESS ANALYST,...,WY,NaN,y,H-1B,46446.0,82000.0,business analyst,146352,Wyoming,94.3
132185,I-200-10147-023076,certified-withdrawn,5/27/2010,5/8/2013,REVEREIT LLC,18.10,hour,26.00,hour,BUSINESS ANALYST,...,WY,NaN,n,H-1B,37648.0,54080.0,business analyst,160352,Wyoming,94.3

To account for standard of living, we will divide the annual wage by the cost index by state. The adjusted salary represents the amount of money you would need to earn in a particular state to maintain the same wage with someone with a different standard of living in a different state.

In [21]:

merged_data['ADJUSTED_WAGE'] = merged_data['PAID_WAGE_PER_YEAR'] / merged_data['costIndex']

df1 = merged_data[['JOB_TITLE','JOB_TITLE_SUBGROUP','WORK_STATE','costIndex','PAID_WAGE_PER_YEAR','ADJUSTED_WAGE']]
df1

,JOB_TITLE,JOB_TITLE_SUBGROUP,WORK_STATE,costIndex,PAID_WAGE_PER_YEAR,ADJUSTED_WAGE
0,SOFTWARE ENGINEER,software engineer,Illinois,94.3,62171.0,659.289502
1,SOFTWARE ENGINEER,software engineer,Illinois,94.3,76357.0,809.724284
2,ASSOCIATE PRINCIPAL (MANAGEMENT CONSULTANT),management consultant,Illinois,94.3,251430.4,2666.282078
3,ASSOCIATE PRINCIPAL (MANAGEMENT CONSULTANT),management consultant,Illinois,94.3,246708.8,2616.212089
4,ASSOCIATE PRINCIPAL (MANAGEMENT CONSULTANT),management consultant,Illinois,94.3,236579.2,2508.793213
...,...,...,...,...,...,...
132181,BUSINESS ANALYST,business analyst,Wyoming,94.3,80000.0,848.356310
132182,BUSINESS ANALYST,business analyst,Wyoming,94.3,80000.0,848.356310
132183,BUSINESS ANALYST,business analyst,Wyoming,94.3,82000.0,869.565217
132184,BUSINESS ANALYST,business analyst,Wyoming,94.3,82000.0,869.565217
132185,BUSINESS ANALYST,business analyst,Wyoming,94.3,54080.0,573.488865